gateways/ApiGateway/bin
gateways/ApiGateway/obj

services/UserService.Grpc/bin
services/UserService.Grpc/obj
services/AiService.Grpc/bin
services/AiService.Grpc/obj
services/OrderService.Grpc/bin
services/OrderService.Grpc/obj
services/AiService.Api/bin
services/AiService.Api/obj
services/OrderService.Api/bin
services/OrderService.Api/obj
services/OrderService.gRPC/bin
services/OrderService.gRPC/obj
services/UserService.Api/bin
services/UserService.Api/obj

shared/Infrastructure/bin
shared/Infrastructure/obj
shared/Contracts/bin
shared/Contracts/obj
shared/Contracts/Protos/bin
shared/Contracts/Protos/obj
shared/ApiClients/bin
shared/ApiClients/obj
shared/Domain/bin
shared/Domain/obj
shared/Application/bin
shared/Application/obj
